* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 16px;
  z-index: 1;
}
